.navContainer {
    padding-left: 10%;
    padding-right: 10%;
}

.underline {
    text-decoration: none;
}

.link {
    color: green;
}

/* *************
    Background Gradient
    ************ */

.bg {
    display: flex;
    /* background: rgb(236, 125, 181);
  background: linear-gradient(
    34deg,
    rgba(236, 125, 181, 1) 0%,
    rgba(161, 181, 230, 1) 100%
  ); */
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

/* **************************
    Background Gradient End
    ************************* */

.navTitle {
    font-family: "Pacifico", sans-serif;
    letter-spacing: 3px;
    color: crimson;
    flex-grow: 1;
}

.logo {
    font-family: "Pacifico", sans-serif;
    letter-spacing: 3px;
    font-size: xx-large;
    color: crimson;
    margin-bottom: 30px;
    margin-top: 5px;
}

.mb {
    margin-bottom: 40px;
}

.mt {
    margin-top: 20px;
}

/* *************
    Image Grid
    ************ */

.container {
    position: relative;
    max-width: 350px;
    max-height: 350px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    color: black;
    font-weight: bolder;
    font-size: 16px;
    padding: 16px 32px;
}

/* *************
    Image Grid End
    ************ */

/* Image CSS */
.thumbImage {
    margin: auto;
    filter: drop-shadow(1rem 0.5rem 1rem #d3d3d3);
    animation: up-down 4s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.MuiCircularProgress-colorPrimary {
    color: #b71c1c !important;
}

.MuiCircularProgress-colorSecondary {
    color: #9e9e9e !important;
}
